body
{ background-color: lightblue;
font-family:"T.N.R.", Times, Serif;
margin: 20px;
}
#main-title{
text-align: center;
margin: 0 auto;
color:pink;
}
h2{
text-align: left;
margin: 0 auto;
color:green;
}

img
{ display: block;
margin: 0 auto;
border-radius: 50%;
}



