#pagina{
	background-color:#ccc;
	font-family: 'Times New Roman', Times, serif;
	margin: 20px;
}
#poza{
	display: block;
	width: 500px;
	height: 250px;
	opacity: 0.6;
}
#buton{
	margin-top: 20px;
}
	